{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<div class="w-full py-5 flex justify-center">
  <div class="flex-row items-center justify-center overflow-x-auto">
    <h3>Info du livre {{livre.id}}:</h3>

    <table class="divide-y-2 divide-gray-200 bg-white text-sm">

      <!-- <thead class="ltr:text-left rtl:text-right"> -->
      <!--   <tr> -->
      <!--     <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">id</th> -->
      <!--     <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Date of Birth</th> -->
      <!--     <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Role</th> -->
      <!--     <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Salary</th> -->
      <!--   </tr> -->
      <!-- </thead> -->

    <div class="flex ">
      </div>

        <tbody class="divide-y divide-gray-200">
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Id</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ livre.id }}</td>
          </tr>

          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Titre</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ livre.titre }}</td>
          </tr>

          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Isbn</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.Isbn}}</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Slug</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.slug}}</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Image</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.image}}</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Resume</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.resume}}</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Editeur</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.editeur}}</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">EditedAt</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700"> {{ livre.editedAt ? livre.editedAt|date('Y-m-d H:i:s') : '' }} </td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Prix</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.prix}}</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Qte</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.Qte}}</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">Auteur</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{livre.Auteur}}</td>
          </tr>
        </tbody>
      </table>

      <div class="flex gap-2">
          <a
            class="no-underline inline-block rounded border border-teal-600 bg-teal-600 px-12 py-3 text-sm font-medium text-white hover:bg-white-600 hover:text-teal-600 focus:outline-none focus:ring active:text-indigo-500"
            href="{{ path('app_livres_edit', {'id': livre.id}) }}">
            Editer
          </a>

          {{ include('livres/_delete_form.html.twig') }}
          <a
            class="no-underline inline-block rounded border border-teal-600 px-12 py-3 text-sm font-medium text-teal-600 hover:bg-teal-600 hover:text-white focus:outline-none focus:ring active:bg-teal-500"
            href="{{ path('app_livres') }}" >
            Retourner
          </a>
      </div>
  </div>
</div>
{#
    <a href="{{ path('app_livres') }}">back to list</a>
    <a href="{{ path('app_livres_edit', {'id': livre.id}) }}">edit</a>
#}
{% endblock %}
